<!-- END CHANGEABLE CONTENT. -->
<!--<?php-->
<!--if ( (is_administrator() && (basename($_SERVER['PHP_SELF']) != 'logout.php'))-->
<!--OR (isset($loggedin) && $loggedin) ) {-->

<!--	// Create the links:-->
<!--	print '<hr><h3>Site Admin</h3><p><a href="add_quote.php">Add Quote</a> <->-->
<!--    <a href="view_quotes.php">View All Quotes</a> <->-->
<!--    <a href="logout.php">Logout</a></p>';-->

<!--}-->
<!--?>-->
</body>
<footer>
    <h3>About Pollux:</h3>
    <p>Pollux is a tool for teachers and students to manage grades.</p>
</footer>
</html>